---
layout: base
title: Software Engineer | Posts
eleventyImport:
  collections: ["post"]
canonical: https://aurmartin.fr/posts/
---

<header>
  <h1>Welcome to my blog.</h1>

  <span>
    Here you will find my writting on software development, technology, and life in general.
  </span>
</header>

<h2>Latest posts</h2>

{% assign posts = collections.posts | reverse %}

<ul class="posts-list">
  {% for post in posts %}
    <li>
      <a href="{{ post.url }}">
        <h3>
          {{ post.data.title }}
        </h3>
        <div class="post-metadata">
          {{ post.date | date: "%b %d, %Y" }}
        </div>
        <p class="post-description">
          {{ post.data.description }}
        </p>
      </a>
    </li>
  {% endfor %}
</ul>