.home-title > h1 {
  font-size: 2.5rem;
}

.home-title > h2 {
  font-size: 1.5rem;
  font-weight: normal;
  max-width: 600px;
  text-align: center;
  border: none;
  color: var(--gray-400);
}

@media (max-width: 768px) {
  .home-title > h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .home-title > h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.links {
  display: flex;
  color: var(--gray-200);
  gap: 1rem;
}

.links > a {
  border-bottom: none;
}

.links > a:hover {
  color: var(--accent);
  border-bottom: none;
}