@import "normalize.css";
@import "./home.css";
@import "./posts.css";
@import "./prism.css";

:root {
  --black: #090909;

  --white: #FFFFFF;

  --gray-100: #F7F7F7;
  --gray-200: #E1E1E1;
  --gray-300: #dbdbdb;
  --gray-400: #c0c0c0;
  --gray-500: #9E9E9E;
  --gray-600: #7E7E7E;
  --gray-700: #555555;
  --gray-800: #393939;
  --gray-900: #282828;

  --text-color: var(--gray-200);

  --page-background: #232323;

  font-family: Palatino, Georgia, serif;
  background-color: var(--black);
  color: var(--text-color);
}

::selection {
  background-color: var(--gray-600);
  color: var(--white);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  width: 100vw;
  line-height: 1.4rem;
  font-size: 0.9rem;
}

ul, ol {
  padding-left: 15px;
}

a {
  color: inherit;
}

.page {
  max-width: 750px;
  margin: auto;
  padding: 0.75rem;

  background-color: var(--page-background);
}

nav {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

nav > a {
  background-color: var(--gray-800);
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray-700);
  color: var(--gray-100);
  text-decoration: none;
}

nav > a:hover {
  background-color: var(--gray-700);
  border-color: var(--gray-600);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

header > h1 {
  margin-bottom: 0;
  text-align: center;
}

header > p {
  text-align: center;
}

h2 {
  color: var(--gray-100);
  border-bottom: 1px dashed var(--gray-500);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

h1 {
  text-align: center;
  color: var(--gray-100);
  line-height: 3rem;
}

pre {
  padding: 0.75rem;
  margin: 1rem 0;
  overflow: scroll;
}

pre, code {
  background-color: var(--gray-800) !important;
  font-size: 0.75rem !important;
  line-height: 1.2rem !important;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

code {
  padding: 0.1rem 0.25rem;
}