@import "normalize.css";
@import "./home.css";
@import "./posts.css";
@import "./prism.css";

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

:root {
  --black: #090909;

  --white: #FFFFFF;

  --hue: 200;

  --gray-100: hsl(var(--hue), 25%, 98%);
  --gray-200: hsl(var(--hue), 25%, 85%);
  /* --gray-300: hsl(var(--hue), 25%, 75%); */
  --gray-400: hsl(var(--hue), 25%, 65%);
  --gray-500: hsl(var(--hue), 25%, 55%);
  --gray-600: hsl(var(--hue), 25%, 45%);
  --gray-700: hsl(var(--hue), 30%, 35%);
  --gray-800: hsl(var(--hue), 35%, 20%);
  --gray-900: hsl(var(--hue), 35%, 12%);
  --gray-950: hsl(var(--hue), 39%, 9%);

  --accent-hue: 41;
  --accent: hsl(var(--accent-hue), 90%, 60%);
  --accent-light: hsl(var(--accent-hue), 60%, 70%);
  --accent-dark: hsl(var(--accent-hue), 90%, 60%);
  /* --accent: hsl(var(--hue), 60%, 60%); */

  font-family: OpenSans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: var(--gray-950);
  color: var(--gray-200);

  line-height: 28px;
  font-size: 18px;
}

::selection {
  background-color: var(--gray-700);
  color: var(--gray-100);
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-900);
}
 
::-webkit-scrollbar-thumb {
  background-color: var(--gray-600);
  border-radius: 1em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto;
}

ul, ol {
  padding-left: 15px;
}

a {
  color: var(--accent-light);
  text-decoration: none;
  border-bottom: 2px solid var(--accent-light);
}

a:hover {
  border-bottom: 2px solid var(--accent-dark);
  color: var(--accent-dark);
}

.header-anchor {
  border: none;
  color: var(--gray-400);
}

.header-anchor:hover {
  border: none;
}

.page {
  min-height: 100%;
  max-width: 850px;
  margin: auto;
  padding: 0.75rem;
}

.page > header {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  justify-content: center;
  position: relative;
}

.page > header > a {
  text-decoration: none;
  position: absolute;
  left: 0;
  font-weight: bold;
}

.cat {
  display: none; /* Hide cat for now */

  width: 60px;
  position: absolute;
  top: 10px;
  right: 10px;
  position: fixed;

  transition: transform 1s ease-in-out;
}

@media screen and (max-width: 600px) {
  .page > header > a {
    position: initial;
    margin-bottom: 1rem;
  }

  .page > header {
    flex-direction: column;
  }
}

nav {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: auto 0;
}

nav > a {
  background-color: var(--gray-900);
  border-radius: 4px;
  border: 2px solid var(--gray-700);
  color: var(--gray-200);
  padding: 0.5rem 1rem;
  text-decoration: none;
}

nav > a:hover {
  background-color: var(--gray-800);
  border: 2px solid var(--gray-600);
  color: inherit;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--gray-100);
  border-bottom: 2px solid var(--gray-700);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
}

h1 {
  text-align: center;
  color: var(--gray-200);
  line-height: 3rem;
}

pre {
  padding: 0.5rem !important;
  margin: 1rem 0;
  overflow: scroll;
}

pre, code {
  background-color: var(--gray-900) !important;
  font-size: 0.9rem !important;
  line-height: 1.5rem !important;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

code {
  padding: 0.1rem 0.25rem;
  overflow-wrap: break-word;
}

pre > code {
  padding: 0;
}

.alert {
  padding: 0.5rem;
  border-radius: 4px;
}

.alert-info {
  background-color: var(--gray-800);
  border: 2px solid var(--gray-700);
}
